.about {

  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 2rem;
    line-height: 1.6rem;
    margin: 10px 0 20px;
    text-align: center;
    font-family: 'Sacramento', cursive;
  }

  p {
    text-align: center;
    max-width: 60%;
    font-family: 'Heebo', sans-serif;
    font-size: 1.1rem;
  }

  img {
    margin-bottom: 1rem;
    width: 200px;
    height: 150px;
    clip-path: circle(72px at center);
    object-fit: cover;
    display: block;
  }
}