.btn {
  display: block;
  color: $oxford-blue;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: $catskill-white;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1.2px;

  &:hover {
    background-color: $geyser;
  }

  &.--buy {
    background-color: $white;
    border: 2px solid $darker-pink;
    color: $darker-pink;
    margin: 2rem 0;

    &:hover {
      background-color: $darker-pink;
      border-color: $darker-pink;
      color: $white;
    }
  }
}