footer {
  flex-shrink: 0;
  margin-top: 4rem;
  padding-bottom: 2rem;
  min-height: 100px;
  background-color: $wisp-pink;
  background: linear-gradient(180deg, $wisp-pink, $carousel-pink);
  box-shadow: 0px -20px 19px 3px $wisp-pink;

  .content .margin-sides {
    display: flex;
  }

  h3 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 10px 0 20px;
    font-family: 'Sacramento', cursive;
  }

  .title {
    width: 40%;
  }

  .sidebar {
    width: 60%;
    margin-left: 20px;
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }
}