.notice {
  font-size: 0.875rem;
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  border-radius: 0.25rem;
  background-color: $picton-blue;
  display: flex;

  svg {
    width: 1rem;
    fill: currentColor;
    margin-right: 0.5rem;
    height: 1rem;
  }
}