.half {
  width: 100%;
  display: flex;
  .block-content {
    width: 50%;
  }
}

.block-content {
  margin-bottom: 1.5rem;
  letter-spacing: 0.025em;
  font-size: 1rem;
  color: #4a5568;

  p {
    padding-bottom: .5rem;
  }

  strong {
    font-weight: 700;
  }

  .main-image {
    width: auto;
    height: auto;
    max-width: 100%;
  }

  .product-image {
    width: auto;
    height: auto;
    max-width: 50%;
  }
  
}