<title><%= @page_title %></title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= javascript_pack_tag 'admin', data: { turbolinks_track: :reload } %>

<link href="https://fonts.googleapis.com/css?family=Heebo|Barlow+Condensed:400,300|Sacramento&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">