<% if flash.any? %>
  <div class="flash-messages">
    <% flash.each do |key, value| -%>
      <p class="flash-message flash-message--<%= key %>"><%=h value %></p>
    <% end %>
  </div>
<% end %>