.page {
  width: 100%;
}

.page-wrapper {
  padding-top: 14rem;
  background-color: $catskill-light;
}

.content {
  @include container;
  margin-left: auto;
  margin-right: auto;

  &.--flex {
    display: flex;
  }

  .margin-sides {
    margin: 0 2rem;
  }
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.content-section-wrapper {
  background-color: $white;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 0.25rem;

  &.--full-border {
    border: 1px solid $catskill-white;
  }

  &.--half {
    width: 50%;
  }

  &.--inline-flex {
    display: inline-flex;
  }

  &.--space-between {
    justify-content: space-between;
  }
}

.panels-wrapper {
  display: flex;

  .panel {

    &.--width-60 {
      width: 60%;
    }

    &.--width-40 {
      width: 40%;
    }

    &.--half {
      width: 50%;
    }

    &.--margin-right {
      margin-right: 1rem;
    }

    &.--margin-left {
      margin-left: 1rem;
    }

  }
}