<%
    links = {
      products: admin_products_path,
      posts: admin_posts_path,
      orders: admin_orders_path,
      tags: admin_tags_path,
      themes: admin_themes_path
    }
%> 
<header>
  <h1>journal of curious things</h1>
  
  <navigation>
    <% if signed_in? %>
      <ul>
        <% links.each do |key, value| %>
          <li>
            <%= link_to key.capitalize, value %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </navigation>

</header>



