<%
    links = {
      products: admin_products_path,
      articles: admin_posts_path
    }
%> 
<header class="bg-white fixed w-full z-10 top-0 shadow">

  <div class="header">
    <h1>journal of curious things</h1>
  </div>
    
  <div class="w-full container mx-auto flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-white z-20">

    <!-- <i class="fas fa-home fa-fw mr-3 text-orange-600"></i><span class="pb-1 md:pb-0 text-sm">Home</span> -->

    <ul class="list-reset lg:flex flex-1 items-center px-4 md:px-0">
      <% links.each do |key, value| %>
        <li class="mr-6 my-2 md:my-0">
          <%= link_to key.capitalize, value, class: "border-solid block py-1 md:py-3 pl-1 align-middle text-orange-600 no-underline hover:text-gray-900 border-b-2 border-white hover:border-orange-600" %>
        </li>
      <% end %>
    </ul>

  </div>

</header>



