<%
    links = {
      :products => admin_products_path,
      :articles => admin_posts_path
    }
%> 
<aside class="left-sidebar" data-sidebarbg="skin5">

  <div class="header">
    <h1>journal of curious things</h1>
  </div>

    <ul class="menu">
      <% links.each do |key, value| -%>
        <li class="link"><%= link_to key.capitalize, value %></li>
      <% end %>
    </ul>
</aside>