<div class="content-wrapper">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>

  <%= render 'form', post: @post, link: admin_post_path(@post) %>

  <div class="content-section-wrapper">
    <%= link_to 'Show', admin_post_path(@post.id), class: "btn" %>
    <%= link_to 'Back', admin_posts_path, class: "btn" %>
  </div>

</div>