<div class="page-wrapper">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-body">

          <%= render 'form', post: @post, link: admin_post_path(@post) %>

          <%= link_to 'Show', admin_post_path(@post.id) %> |
          <%= link_to 'Back', admin_posts_path %>

        </div>
      </div>
    </div>
  </div>

</div>