<div class="content-wrapper">

  <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>
  
  <%= render 'form', post: @post, link: admin_posts_path(@post) %>

  <div class="content-section-wrapper">
    <%= link_to 'Back', admin_posts_path, class: "btn" %>
  </div> 
    
</div>