<div class="about">
  <h3>about me</h3>
  <%= image_tag "bio.jpg" %>
  <p>Hello, I'm Kirsty. I'm a crafter, a Londoner, a teacher, a traveller, a tea drinker and a Guide leader. I love to adventure, camera in hand, and share my stories.</p>
</div>