<footer>
  <div class="content">
    <div class="margin-sides">
    
      <div class="title">
        <h3>journal of curious things</h3>
      </div>

      <div class="sidebar">
        <%= render "layouts/application/about" %>
      </div>

    </div>
  </div>
</footer>