<title>journal of curious things</title>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>


<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<link href="https://fonts.googleapis.com/css?family=Heebo|Barlow+Condensed:400,300|Sacramento&display=swap" rel="stylesheet">