<%
    navLinks = [
      { name: 'Blog Posts', url: '/' },
      { name: 'Kirsty\'s Shop', url: products_path },
      { name: 'Gallery', url: products_path },
      { name: 'Other Item', url: products_path },
      { name: 'Another Item', url: products_path }
    ]
    current = '/'
%>

<div class="navigation shadow w-full z-20">
  <div class="container mx-auto">
    <ul class="menu lg:flex flex-1 items-center justify-center">
      <% navLinks.each do |link| %>
        <li class="link <%= 'current' unless current != link[:url] %>"><%= link_to link[:name], link[:url] %></li>
      <% end %>
    </ul>
  </div>

  
</div>