<div class="content-wrapper">

    <%= render partial: "layouts/shared/breadcrumbs", locals: { linkText: @title } %>
    
    <%= render 'form', theme: @theme, link: admin_themes_path(@theme) %>

    <div class="content-section-wrapper">
      <%= link_to 'Back', admin_themes_path, class: "btn" %>
    </div> 
    
</div>