.w-full {
  width: 100%!important;
}

.px-6 {
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important;
}

.max-w-screen-xl {
  max-width: 1280px!important;
}

.mx-auto {
  margin-left: auto!important;
  margin-right: auto!important;
}



header {

  .title {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  .text-wrapper {
    position: relative;
    max-width: 75%;
    margin: 0 auto;
    display: inline-flex;
  }

  h1 {
    font-size: 4rem;
    line-height: 4rem;
    margin: 40px 0 60px;
    text-align: center;
    font-family: 'Satisfy', cursive;
  }

  h2 {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    position: absolute;
    right: 80px;
    bottom: 20px;
    font-weight: lighter;
  }

  .image-gallery {

    display: flex;

    .image-wrapper {
      width: calc(100% / 6);
      display: block;
      position: relative;
      margin: auto;
      overflow: hidden;

      img {
        max-width: 100%;
        transition: all 1.0s;
        display: block;
        width: 100%;
        height: auto;
        transform: scale(1);

        &:hover {
          transform: scale(1.4);
        }
      }

     
    }
  }

}

.satisfy {
  font-family: 'Satisfy', cursive;
}
  
.post {

  .title {

    h3 {
      font-size: 2.4rem;
      line-height: 2.4rem;
      margin: 60px 30px 20px ;
      text-align: center;
      font-family: 'Satisfy', cursive;
    }

    h4 {
      font-size: 1.4rem;
      line-height: 1.4rem;
      margin: 0 0 60px;
      text-align: center;
      font-family: 'Lato', sans-serif;
    }
  }

  .image {
    padding: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    border-radius: 5px;

    img {
      width: 100%;
      display: block;
      border: 1px solid #edf2f7;
      border-radius: 5px;
    }
  }
}

.navigation {
  background-color: #fce8ea;
  box-shadow: 0 1px 3px 0 rgba(235, 64, 52, 0.1), 0 1px 2px 0 rgba(235, 64, 52, 0.06);
  background: linear-gradient(180deg, #fce8ea, #fcedee);

  .link {
    color: #fff;
    font-size: 1.15rem;
    line-height: 1.15rem;
    padding: .7rem;
    margin: .5rem 1rem; 
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    text-shadow: 2px 2px 2px rgba(235, 64, 52, 0.7);
  }

  .link.current {
    color: #fc416a;
  }

  .link:focus{
    outline: 2px solid #fff;
  }
  
  /* hover animation */
  
  .link {
    position: relative;
    overflow: hidden;
  
    will-change: color;
    transition: color .25s ease-out;  
  }

  .link::before, 
  .link::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: #fff;

    will-change: width;
    transition: width .1s ease-out;

    position: absolute;
    bottom: 0;
  }

  .link::before{
    left: 50%;
    transform: translateX(-50%); 
  }

  .link::after{
    right: 50%;
    transform: translateX(50%); 
  }

  .link:hover::before, 
  .link:hover::after,
  .link.current::before,
  .link.current::after {
    width: 100%;
    transition-duration: .2s;
  }

}