<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/admin/application/head" %>
  </head>

  <body>
    <div class="page">

      <div>
        <%= render "layouts/admin/header" %>

        <%= render partial: "layouts/shared/flash_messages" %>

        <div class="page-wrapper">
          <div class="content">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>