<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/admin/application/head" %>
  </head>

  <body>
    <div class="w-full">

    <div>
      <%= render "layouts/admin/header" %>

      <%= render partial: "layouts/shared/flash_messages" %>

      <div class="w-full bg-gray-200 main-wrapper">
        <div class="w-full container mx-auto">
          <div class="max-w-screen-xl ">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    </div>
  </body>
</html>